// font
@font-face {
 src: url(../fonts/Acme-Regular.ttf);
 font-family: "Acme";
}

@font-face {
    src: url(..//fonts/Cabin-Bold.ttf);
    font-family: "Cabin";
}


// _____________Base styles_____________

/* To make scroling move smooth */
html {
    scroll-behavior: smooth;
}

/* styling of the body*/
body {
    padding-left: 5pc;
    margin: 0;
    padding: 0;
    font-family: 'Thasadith', sans-serif;
    height: 100vh;
    scroll-behavior: smooth;
    color: #666;
}

/* paragraph properties & values */
p {
    font-size: 17px;
    color: #444;
}

/* for creating my whole navbar */
/* my navbar */
  nav {
    position: fixed;
    width: 100%;
    background-color: #000;
    border-radius: 0px;
    padding: 10px 0;
    height: 46px;
    margin: 0;
    border-bottom: 0.2px solid gray;
    z-index: 1000;

 }

 /* navbar unordered list fix */
 nav ul {
     margin: 0;
     padding: 0 100px;
     float: right;
     text-decoration: none;
     display: flex;
 }

/* navbar list style fix */
 nav li {
     list-style: none;
 }
 
/* navbar anchor tag properties */
 nav a {
    display: block;
    margin: 0;
    text-decoration: none;
    color: white;
    padding: 0 40px;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 14px;  
    position: relative;
}

/* navbar hover effect */
nav a::before {
    content: "";
    position: absolute;
    bottom: 0.5rem;
    height: 0.2rem;
    width: 0rem;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
}

nav a:hover::before {
    width: 70%;
}

// icons
i {
    padding: 6px;
}
